---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="mb-5">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/logo_small.png" alt="{{site.author}}"></a>
      </div>
      <p>{{site.description}}</p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Info</h3>
      <ul>
        {% if site.social-twitter %}
          <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% endif %}

        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li>
        {% endif %}

          <li><a href="{{site.location}}" target="_blank"><i class="fas fa-map-marker-alt"></i></a></li>
          <li><a href="{{site.eventbrite}}" target="_blank"><i class="fas fa-ticket-alt"></i></a></li>
          <li><a href="{{site.discord}}" target="_blank"><i class="fab fa-discord"></i></a></li>
          <li><a href="/talk-schedule" target="_blank"><i class="fas fa-chalkboard-teacher"></i></a></li>
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; NOT GDC MI</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
  <!-- <div class="header-box warning"></div> -->
  <!-- <a class="header-box" href="https://www.youtube.com/channel/UCC8GNKN98f3aP1Q4YToy1Gg">Watch the talks here Saturday 3/14/2020 starting at 2pm!</a> -->

<div class="content-box clearfix">
  {{ content }}
</div>
